<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleEditProduct.css" />

</head>

<body>

    <%- include('../partials/header') %>
        <main>
            <h1>Editar Producto</h1>
            <form action="/products/<%= product.id %>/edit?_method=PUT" method="POST" class="form" aling="center"
                enctype="multipart/form-data">
                    <h3>Cambiar Nombre del Juego</h3>
                <input type="text" name="name" id="name" class="controls" placeholder="Nombre del Juego"
                    value="<%= product.name %>">
                <section class="photo-cover">
                    <h3>Cambiar Foto de portada del Juego</h3>
                    <input type="file" name="images" accept=".jpg, .jpeg, .png">
                    <div class="imagen">
                        <img src='/img/<%= product.details.images %>' alt='<%= product.name %>' width="100px">
                    </div>
                </section>
                <section class="launch">
                    <h3>Modificar Fecha de Lanzamiento</h3>
                    <input type="date" name="releaseDate" id="releaseDate">
                </section>
                <section class="Description">
                    <h4>Modificar Descripcion</h4>
                    <textarea name='description' required> <%= product.details.description %> </textarea>
                </section>
                <section class="genre">
                    <h3>Cambiar Genero</h3>
                    <select name="genre" id="genre">
                        <option value="Accion" <%=product.genres[0].name=='Accion' ? 'selected' : '' %> >Accion</option>
                        <br>
                        <option value="Deportes" <%=product.genres[0].name=='Deportes' ? 'selected' : '' %> >Deportes
                        </option><br>
                        <option value="Sandbox" <%=product.genres[0].name=='Sandbox' ? 'selected' : '' %> >Sandbox
                        </option><br>
                        <option value="Estrategia" <%=product.genres[0].name=='Estrategia' ? 'selected' : '' %>
                            >Estrategia</option><br>
                        <option value="Aventura" <%=product.genres[0].name=='Aventura' ? 'selected' : '' %> >Aventura
                        </option><br>
                        <option value="Shooter" <%=product.genres[0].name=='Shooter' ? 'selected' : '' %> >Shooter
                        </option><br>
                        <option value="RPG" <%=product.genres[0].name=='RPG' ? 'selected' : '' %> >RPG</option><br>
                        <option value="Survival" <%=product.genres[0].name=='Survival' ? 'selected' : '' %> >Survival
                        </option><br>
                        <option value="Arcade" <%=product.genres[0].name=='Arcade' ? 'selected' : '' %> >Arcade</option>
                        <br>
                        <option value="Terror" <%=product.genres[0].name=='Terror' ? 'selected' : '' %> >Terror</option>
                        <br>
                        <option value="Minijuegos" <%=product.genres[0].name=='Minijuegos' ? 'selected' : '' %>
                            >Minijuegos</option><br>
                        <option value="Cartas" <%=product.genres[0].name=='Cartas' ? 'selected' : '' %> >Cartas</option>
                        <br>
                        <option value="Otro" <%=product.genres[0].name=='Otro' ? 'selected' : '' %> >Otro</option><br>
                    </select>
                </section>
                <h3>Editar Precio</h3>
                <input type="number" name="price" id="price" class="controls" placeholder="Precio" step="0.01"
                    value="<%= product.price %>">

                <h3>Editar Plataforma</h3>
                <div class="platform-a">
                    <div class="container-sub-platforms">
                        <input type="checkbox" name="platforms" id="nintendoSwitch" value="Nintendo Switch" <% if
                            (product.platforms.some(platform=> platform.name === 'Nintendo Switch')) { %> checked <% } %> />
                            <label for="nintendoSwitch">Nintendo Switch</label>
                    </div>
                    <div class="container-sub-platforms">
                        <input type="checkbox" name="platforms" id="playStation4" value="PlayStation 4" <% if
                            (product.platforms.some(platform=> platform.name === 'PlayStation 4')) { %> checked <% } %> />
                            <label for="playStation4">PlayStation 4</label>
                    </div>
                    <div class="container-sub-platforms">
                        <input type="checkbox" name="platforms" id="xboxOne" value="Xbox One" <% if (product.platforms.some(platform=>
                        platform.name === 'Xbox One')) { %> checked <% } %> />
                            <label for="xboxOne">Xbox One</label>
                    </div>
                    <div class="container-sub-platforms">
                        <input type="checkbox" name="platforms" id="pc" value="PC" <% if (product.platforms.some(platform=>
                        platform.name === "PC")) { %> checked <% } %> />
                            <label for="pc">PC</label>
                    </div>
                    <div class="container-sub-platforms">
                        <input type="checkbox" name="platforms" id="dispositivosMoviles" value="Dispositivos m칩viles" <% if
                            (product.platforms.some(platform=> platform.name === 'Dispositivos m칩viles')) { %> checked <% } %> />
                            <label for="dispositivosMoviles">Dispositivos M칩viles</label>
                    </div>
                </div>
                <h3>Editar Tama침o de descarga</h3>
                <input type="text" name="downloadSize" id="downloadSize" class="controls"
                    value="<%= product.details.size %>">

                <h3>Editar Sistemas operativos</h3>
                <input type="text" name="os" id="os" class="controls" value="<%= product.details.requiments.os %>">

                <h3>Editar Almacenamiento requerido</h3>
                <input type="text" name="storage" id="storage" class="controls"
                    value="<%= product.details.requiments.storage %>">

                <section class="buttons">
                    <button type="submit">Enviar</button>
                    <input href="/products/<%= product.id%>" type="reset" name="cancel" value="Cancelar" id="cancel">
                </section>

            </form>
            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" id="action-button-delete">ELIMINAR</button>
            </form>
        </main>
        <%- include('../partials/footer') %>
            <script src="/js/validations.js"></script>
</body>

</html>