<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head.ejs') %>


</head>

<body>

    <%- include('../partials/header') %>

    <%- include('../partials/search-bar') %>

    <h1>Editar Producto</h1>
    <form action="/products/<%= product.id %>/edit?_method=PUT" method="POST" class="form" aling="center">
        <input type="text" name="name-product" id="name-product" class="controls" placeholder="Nombre del Juego"
            minlength="5"  value="<%= product.name %>"> 
        <section class="photo-cover">
            <h3>Cambiar Foto de portada del Juego</h3>
            <input type="file" name="avatar" accept="image/*">
        </section>
        <section class="launch">
            <h3>Modificar Fecha de Lanzamiento</h3>
            <input type="date" name="launch" id="launch" min="2023-08-01" max="2045-01-01" >
        </section>
        <section class="Description">
            <h4>Modificar Descripcion</h4>
            <input type="text" name="address" id="address" class="controls" placeholder="Descripcion">
        </section>
        <section class="genre">
            <h3>Cambiar categoría</h3>
            <select name="genre" id="genre">
                <option value="Accion">Accion</option><br>
                <option value="Deportes">Deportes</option><br>
                <option value="Sandbox">Sandbox</option><br>
                <option value="Estrategia">Estrategia</option><br>
                <option value="Aventura">Aventura</option><br>
                <option value="Shooter">Shooter</option><br>
                <option value="RPG">RPG</option><br>
                <option value="Survival">Survival</option><br>
                <option value="Arcade">Arcade</option><br>
                <option value="Terror">Terror</option><br>
                <option value="Minijuegos">Minijuegos</option><br>
                <option value="Cartas">Cartas</option><br>
                <option value="Otro">Otro</option><br>
            </select>
        </section>
        <input type="text" name="other-game" id="other-game" class="controls" placeholder="Otro tipo" minlength="6"
            >
        <h3>Editar Precio</h3>
        <input type="text" name="price" id="price-product" class="controls" placeholder="Precio" minlength="5" >

        <h3>Editar Plataforma</h3>
        <input type="text" name="platforms" id="platforms" class="platforms" placeholder="Plataforma" minlength="2">

        <h3>Editar Requisitos</h3>
        <input type="text" name="releaseDate" id="releaseDate" class="controls" inlength="5">

        <h3>Editar Sistemas operativos</h3>
        <input type="text" name="systemReq" id="systemReq" class="controls" inlength="5">

        <h3>Editar Almacenamiento requerido<h3>
        <input type="number" name="downloadSize" id="downloadSize" class="controls" >

        <section class="buttons">
            <button>Enviar</button>
            <input type="reset" name="cancel" value="Cancelar" id="cancel">

            

        </section>

    </form>
    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="action-button delete">ELIMINAR</button>
        </form>
    <%- include('../partials/footer') %>
    <script src="/js/validations.js"></script>
</body>

</html>