<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/stylesDetails.css" />
  </head>
  <body>
    <%- include('../partials/header') %> <%- include('../partials/search-bar')
    %>

    <main>
      <section class="producto-user">
        <article class="image-product">
          <img
            src="/img/<%= product.details.images %>"
            width="400px"
            id="ima"
          />
          <div class="info-product">
            <h2>$<%= product.price %></h2>
            <button class="buy-now">Comprar</button>
            <button class="gift-button">regalar</button>
          </div>
          <article class="product-description">
            <div>
              <h2><%= product.name %></h2>
              <p><%= product.details.description %></p>
            </div>
          </article>
        </article>

        <div class="container-carrusel">
          <i class="fa-solid fa-circle-left" id="arrow1"></i>
          <i class="fa-solid fa-circle-right" id="arrow2"></i>
          <ul class="slider">
            <li id="slide1">
              <img
                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/car.jpg"
              />
            </li>
            <li id="slide2">
              <img
                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/sunset.jpg"
              />
            </li>
            <li id="slide3">
              <h1>Ejemplo con otros elementos</h1>
              <p>
                Esto es un párrafo de ejemplo para comprobar que podemos meter
                cualquier tipo de elementos en el slider
              </p>
              <a href="https://kikopalomares.com/"
                >¡Corre a mi web para más contenido!</a
              >
            </li>
          </ul>
        </div>

        <section class="product-detail">
          <article class="list-detail">
            <h2>Detalles del Producto</h2>
            <ul>
              <li type="none">
                <strong>Plataformas:</strong>
                <%= product.platforms.map(platform => platform.name).join(', ')
                %>
              </li>
              <li type="none">
                <strong>Género:</strong>
                <%= product.genres.map(genre => genre.name) %>
              </li>
              <li type="none">
                <strong>Fecha de Lanzamiento:</strong> <%= product.release_date
                %>
              </li>
              <li type="none"><strong>Precio:</strong> <%= product.price %></li>
              <li type="none">
                <strong>Tamaño de Descarga:</strong> <%= product.details.size %>
              </li>
              <li type="none"><strong>Requisitos del Sistema:</strong></li>
              <ul>
                <li type="none">
                  <strong>Sistema Operativo:</strong>
                  <%= product.details.requiments.os %>
                </li>
                <li type="none">
                  <strong>Almacenamiento Requerido:</strong>
                  <%= product.details.requiments.storage %>
                </li>
              </ul>
            </ul>
          </article>
          <article class="lore-product"></article>
        </section>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
