<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/stylesDetails.css">
</head>
<body>

    <%- include('../partials/header') %>

    <%- include('../partials/search-bar') %>

    <main>
    
    <section class="producto-user">
        <article class="image-product">
                <img src="/img/<%= product.images %>" width="300px" id="ima">           
                <div class="info-product">
                    <h2>$<%= product.price %></h2>
                    <button class="buy-now">Comprar</button>
                    <button class="gift-button">regalar</button>
                </div>
        </article>    
       
        <article class="container-carrusel">
            <div class="carrusel" id="section1">
                <div class="image-carrusel"><i>imagen1</i></div>
                <div class="arrow-carrusel">
                    <a href="section3"><i class="fa-solid fa-circle-left"></i></a>
                    <a href="section2"><i class="fa-solid fa-circle-right"></i></a>
                </div>
            </div>
        </article>

        <article>
            <article class="product-description">
                <div>
                    <p><%= product.description %></p>
                </div>
            </article>
        </article>
      
        <section>
        <h2>Detalle del Producto - <%= product.name %></h2>
        <article>
            <h3>Descripción</h3>
            <p><%= product.description %></p>
        </article>
        <article>
            <h3>Detalles del Producto</h>
            <ul>
                <li><strong>Plataformas:</strong> <%= product.platforms.join(', ') %></li>
                <li><strong>Género:</strong> <%= product.genre %></li>
                <li><strong>Fecha de Lanzamiento:</strong> <%= product.releaseDate %></li>
                <li><strong>Precio:</strong> <%= product.price %></li>
                <li><strong>Tamaño de Descarga:</strong> <%= product.downloadSize %></li>
                <li><strong>Requisitos del Sistema:</strong></li>
                <ul>
                    <li><strong>Sistema Operativo:</strong> <%= product.systemReq.os %></li>
                    <li><strong>Almacenamiento Requerido:</strong> <%= product.systemReq.storage %></li>
                </ul>
            </ul>
        </article>
        </section>
    </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>