<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <%- include('../partials/search-bar') %>

    <main>
        <article class="producto-user">
        <section class="image-product">
            <img src="/img/<%= product.images %>" width="300px">
            
            <div class="carousel">
                <h3>imagenes del carrusel</h3>
            </div>
            <h4><%= product.price %></h4><i class="fa-solid fa-gamepad"></i>  
        </section>    
        <section class="section-button">            
            <button class="buy-now">Comprar</button>
            <button class="gift-button">regalar</button>
        </section>
        <section>
            <article class="info-product">
                <div>
                    <p>
                        <%= product.description %>
                    </p>
                </div>
                
            </article>
        </section>
        </article>
        <section>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>