<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/stylesDetails.css">
</head>
<body>

    <%- include('../partials/header') %>

    <%- include('../partials/search-bar') %>

    <main>
        <article class="producto-user">
        <section class="header-product">
            <img class="image-product" src="<%= product.images %>" width="300px">
            <div class="carousel">
               
            </div>
            <div class="price-product">
                <h2>$<%= product.price %></h2>
               
                <button class="buy-now">Comprar</button>
                <button class="gift-button">regalar</button>
            </div>
        </section>    
       
        <section>
            <article class="info-product">
                <div>
                    <p>
                        <%= product.description %>
                    </p>
                </div>
                
            </article>
        </section>
        </article>
        <section>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>