<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/stylesDetails.css">
</head>
<body>

    <%- include('../partials/header') %>

    <%- include('../partials/search-bar') %>

    <main>
    
    <section class="producto-user">
        <article class="image-product">
                <img src="/img/<%= product.images %>" width="400px" id="ima">           
                <div class="info-product">
                    <h2>$<%= product.price %></h2>
                    <button class="buy-now">Comprar</button>
                    <button class="gift-button">regalar</button>
                </div>
                <article class="product-description">
                    <div>
                        <h2>Detalle del Producto - <%= product.name %></h2>
                        <p><%= product.description %></p>
                    </div>
                </article>
        </article>    

        <article class="container-carrusel">
            <div class="carrusel" id="section1">
                <div class="image-carrusel"><i>imagen1</i></div>
                <div class="arrow-carrusel">
                    <a href="section3"><i class="fa-solid fa-circle-left"></i></a>
                    <a href="section2"><i class="fa-solid fa-circle-right"></i></a>
                </div>
            </div>

        </article>

        <section class="product-detail">

        <article>
            <h2>Detalles del Producto</h2>
            <ul>
                <li type="none"><strong>Plataformas:</strong> <%= product.platforms%></li>
                <li type="none"><strong>Género:</strong> <%= product.genre %></li>
                <li type="none"><strong>Fecha de Lanzamiento:</strong> <%= product.releaseDate %></li>
                <li type="none"><strong>Precio:</strong> <%= product.price %></li>
                <li type="none"><strong>Tamaño de Descarga:</strong> <%= product.downloadSize %></li>
                <li type="none"><strong>Requisitos del Sistema:</strong></li>
                <ul>
                    <li type="none"><strong>Sistema Operativo:</strong> <%= product.systemReq.os %></li>
                    <li type="none"><strong>Almacenamiento Requerido:</strong> <%= product.systemReq.storage %></li>
                </ul>
            </ul>
        </article>
        </section>
    </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>