<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/styles.css">

</head>

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>


            <section class="hero">
                <div class="main-width">

                    </header>

                    <div class="content">
                        <div class="main-text">
                            <h6>#1 Treading</h6>
                            <h3>Lorem ipsum dolor sit.</h3>
                            <h1>Slenderman</h1>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas officia numquam, doloribus
                                quam
                                obcaecati non!</p>
                            <a href="#">Play Now</a>
                            <a href="#" class="cta"><i class="fa-solid fa-play"></i>Watch GamePlay</a>
                        </div>

                        <div class="social">
                            <a href="#"><i class="fa-brands fa-windows"></i></a>
                            <a href="#"><i class="fa-brands fa-apple"></i></a>
                            <a href="#"><i class="fa-solid fa-n"></i> </a>
                            <a href="#"><i class="fa-brands fa-android"></i></a>
                            <a href="#"><i class="fa-brands fa-playstation"></i></a>
                            <a href="#"><i class="fa-brands fa-xbox"></i></a>
                        </div>

                        <div class="image">
                            <img src="/img/33.png" alt="">
                        </div>
                    </div>
                </div>

            </section>


            <%- include('../partials/carrusel') %>

                <div class="section-wrapper">

                    <!-- 
          - #LATEST GAME
        -->

                    <section class="section latest-game" aria-label="latest game">
                        <div class="containerr">

                            <p class="section-subtitle">Personajes</p>

                            <h2 class="h2 section-title">
                                Five Nights at<span class="span">Freddy's</span>
                            </h2>

                            <ul class="has-scrollbar">

                                <li class="scrollbar-item">
                                    <div class="latest-game-card">

                                        <figure class="card-banner img-holder" style="--width: 400; --height: 470;">
                                            <img src="/img/33.jpg" width="400px" height="470px" loading="lazy"
                                                alt="White Walker Daily" class="img-cover">
                                        </figure>

                                        <div class="card-content">

                                            <a href="#" class="card-badge skewBg">Zombie</a>

                                            <h3 class="h3">
                                                <a href="#" class="card-title">FNAN <span class="span">Freddy</span></a>
                                            </h3>

                                            <p class="card-price">
                                                Entry Fee : <span class="span">Free</span>
                                            </p>

                                        </div>

                                    </div>
                                </li>

                                <li class="scrollbar-item">
                                    <div class="latest-game-card">

                                        <figure class="card-banner img-holder" style="--width: 400; --height: 470;">
                                            <img src="/img/22.jpg" width="400" height="470" loading="lazy"
                                                alt="FNAN Killer II" class="img-cover">
                                        </figure>

                                        <div class="card-content">

                                            <a href="#" class="card-badge skewBg">Adventure</a>

                                            <h3 class="h3">
                                                <a href="#" class="card-title">FNAN: <span
                                                        class="span">Chica's</span></a>
                                            </h3>

                                            <p class="card-price">
                                                Entry Fee : <span class="span">$25.00</span>
                                            </p>

                                        </div>

                                    </div>
                                </li>

                                <li class="scrollbar-item">
                                    <div class="latest-game-card">

                                        <figure class="card-banner img-holder">
                                            <img src="/img/11.jpg" width="400px" height="470px" loading="lazy"
                                                alt="Cyberpunk Daily" class="img-cover">
                                        </figure>

                                        <div class="card-content">

                                            <a href="#" class="card-badge skewBg">Action</a>

                                            <h3 class="h3">
                                                <a href="#" class="card-title">FNAN <span class="span">Foxy</span></a>
                                            </h3>

                                            <p class="card-price">
                                                Entry Fee : <span class="span">$25.00</span>
                                            </p>

                                        </div>

                                    </div>
                                </li>

                            </ul>

                        </div>
                    </section>
                </div>



                <article id="showcase">
                    <div class="container">
                        <div class="showcase-container">
                            <div class="showcase-content">
                                <div class="category category-sports">Adventure</div>
                                <h1>Luigi's mansion</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Molestias repellat qui, blanditiis deserunt nihil a! Hic
                                    excepturi sint accusantium officiis, et quo voluptas quasi
                                    itaque ea maxime delectus nostrum</p>
                                <a href="#" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                </article>

                <div class="containerrr">
                    <h2 style="text-align: center; padding-top: 10px; font-size: 1.8rem ;">Personajes de Luigi mansion's
                    </h2>
                    <div class="card-container">
                        <article>
                            <img src="/img/sm2.webp" class="cover-image">
                            <img src="/img/m.png" alt="">
                        </article>

                        <article>
                            <img src="/img/ml2.png" alt="">
                            <img src="/img/ml.webp" alt="">
                        </article>

                        <article>
                            <img src="/img/mp2.jpg" alt="">
                            <img src="/img/mp.webp" alt="">
                        </article>

                        <article>
                            <img src="/img/mb2.png" class="cover-image">
                            <img src="/img/mb.png" alt="">
                        </article>

                        <article>
                            <img src="/img/sm22.webp" alt="">
                            <img src="/img/mdk.png" alt="">
                        </article>
                    </div>
                </div>

                <section class="slider">
                    <h1 style="text-align: center;">Testimonios de Clientes</h1>
                    <div class="slider_container container-slider">
                        <img src="img/leftarrow.svg" class="slider_arrow" id="before">

                        <section class="slider_body slider_body-show" data-id="1">
                            <div class="slider">
                                <h2 class="subtitle">¡Hola! Mi nombre es Jeff Tony</h2>
                                <p class="slider_review">
                                    "¡Increíble experiencia en esta página de videojuegos! Su amplia selección de
                                    títulos, desde
                                    clásicos hasta las últimas novedades, garantiza que siempre encuentre algo
                                    emocionante para
                                    jugar. La interfaz intuitiva facilita la navegación, y sus reseñas detalladas y
                                    recomendaciones
                                    personalizadas han elevado mi experiencia de juego a otro nivel. ¡Definitivamente mi
                                    destino
                                    número uno para descubrir y disfrutar de nuevos juegos!"
                                </p>
                            </div>


                            <figure class="slider_picture">
                                <img src="/img/1.jpg" class="slider_img">

                            </figure>
                        </section>

                        <section class="slider_body" data-id="2">
                            <div class="slider">
                                <h2 class="subtitle">¡Hola! Mi nombre es Mary Jose</h2>
                                <p class="slider_review">
                                    No puedo dejar de elogiar a esta increíble página de videojuegos. La presentación
                                    visual es
                                    asombrosa, con imágenes nítidas y descripciones detalladas que me ayudan a tomar
                                    decisiones
                                    informadas sobre mis compras. Además, su sección de noticias y reseñas me mantiene
                                    al día con
                                    las últimas tendencias y lanzamientos. ¡Es el paraíso para cualquier entusiasta de
                                    los
                                    videojuegos!
                                </p>
                            </div>


                            <figure class="slider_picture">
                                <img src="/img/2.jpg" class="slider_img">

                            </figure>
                        </section>


                        <section class="slider_body" data-id="3">
                            <div class="slider_text">
                                <h2 class="subtitle">¡Hola! Mi nombre es Jose Maria</h2>
                                <p class="slider_review">
                                    "¡Increíble experiencia en esta página de videojuegos! Su amplia selección de
                                    títulos, desde
                                    clásicos hasta las últimas novedades, garantiza que siempre encuentre algo
                                    emocionante para
                                    jugar. La interfaz intuitiva facilita la navegación, y sus reseñas detalladas y
                                    recomendaciones
                                    personalizadas han elevado mi experiencia de juego a otro nivel. ¡Definitivamente mi
                                    destino
                                    número uno para descubrir y disfrutar de nuevos juegos!"
                                </p>
                            </div>


                            <figure class="slider_picture">
                                <img src="/img/3.jpg" class="slider_img">

                            </figure>
                        </section>

                        <img src="img/rigtharrow.svg" class="slider_arrow" id="next">
                    </div>
                </section>


                <div class="denuncia-container">
                    <div class="denuncia-info">
                        <h2>Denuncia cualquier irregularidad</h2>
                        <div>
                            <p>Puedes denunciar cualquier problema que encuentres. Tu voz es importante para nosotros.
                            </p>
                        </div>
                        <div class="contacto-item">
                            <i class="fas fa-phone-alt"></i>
                            <p>Teléfono: 123-456-7890</p>
                        </div>
                        <div class="contacto-item">
                            <i class="far fa-envelope"></i>
                            <p>Correo Electrónico: denuncia@hot.com</p>
                        </div>
                        <div class="contacto-item">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Ubicación: Argentina, Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="descripcion-logo">
                        <div>
                            <img src="/img/Alpaca-celu.svg" salt="Logo de la página">
                        </div>
                        <div>
                            <p>
                                <span class="span-color">Denuncia cualquier irregularidad</span>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, magnam? Facere
                                obcaecati perferendis ducimus corrupti praesentium illum vitae ex, possimus recusandae,
                                quisquam aliquid beatae, ipsa ea distinctio. Aperiam qui commodi iusto voluptate est
                                consectetur quisquam. Necessitatibus ex minima sint iusto nam, laborum expedita
                                perferendis rerum quo ut, voluptatem tempore officia?
                            </p>
                        </div>
                    </div>

                </div>




                <%- include('../partials/footer.ejs') %>
                    <script src="/js/slider.js"></script>
                    <script src="/js/animationsCarrusel.js"></script>
    </body>